.appHeader {
    position: fixed;
    height: 60px;
    display: block;
    width: 100%;
    z-index: 1;
    -webkit-box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 1px 8px 4px rgba(0, 0, 0, 0.75);
    background: #207cca; /* Old browsers */
    background: -moz-linear-gradient(top, #207cca 15%, #2b88d9 35%, #7db9e8 86%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #207cca 15%,#2b88d9 35%,#7db9e8 86%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #207cca 15%,#2b88d9 35%,#7db9e8 86%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#207cca', endColorstr='#7db9e8',GradientType=0 )
}

#MainPhoto {
    padding-top: 80px;
    display: block;
    position: relative;
    height: 500px;
    margin-left: 20%;
    margin-right: 20%;
}

#MainPhoto > img {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
}

.panel-group {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
}

.panel-primary {
    border-radius: 4px;
    border: 1px solid #337ab7;
}

.panel-heading {
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
    line-height: 30px;
    text-align: center;
}

.panel-body {
    padding: 40px;
}

.TitlePanel {
    height: 100%;
    float: left;
}

.LogoutPanel {
    display: inline-block;
    float: right;
    height: 100%;
}

.LogoutPanel #LogOut {
    top: 29%;
    position: relative;
    color: #fff;
    margin-right: 10px;
}

.ImageClass > img {
    width: 20%;
    margin: 15px;
    height: 200px;
    padding: 10px;
}

.ImageClass {
    margin: 20px;
    margin-left: 120px;
    margin-right: 120px;
}

.ImageClass > img:hover {
    -webkit-box-shadow: 2px -1px 11px 10px rgba(26,3,3,0.28);
    -moz-box-shadow: 2px -1px 11px 10px rgba(26,3,3,0.28);
    box-shadow: 2px -1px 11px 10px rgba(26,3,3,0.28);
    opacity: 0.5 !important;
}

.AddPhotoButtonDiv {
    display: block;
    position: relative;
}

.AddPhotoButtonDiv #AddPhotoButton {
    margin: auto;
    position: relative;
    display: block;
}

.TitleHeader {
    top: 23%;
    position: relative;
    color: white;
    margin-left: 10px;
    font-size: 20px;
}

.TitlePanel {
    height: 100%;
    float: left;
}

.auto-style2 {
    width: 463px;
}

#LoginPanel {
    border-color: black;
    width: 33%;
    border: 1px solid black;
    -webkit-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.75);
    padding-top: 65px;
}

#LoginPanel input {
    width: 50%;
}

.PhotoUploadPanel {
    display: block;
    position: relative;
    margin-top: 25px;
    margin-bottom: 20px;
}

.AddPhotoButtonDiv {
    display: block;
    position: relative;
}

#AddPhotoButton,
.savePhotoButton {
    margin: auto;
    position: relative;
    display: block;
}

#FileUpload{
    width:100%;
}